{{define "specific"}}{{$txs := .MempoolTxids.Mempool}}{{$data := .}}
<div class="row">
    <div class="col-sm-6"><h1>Mempool Transactions</h1></div>
    <div class="col-sm-6">{{if $txs}}<nav>{{template "paging" $data }}</nav>{{end}}</div>
</row>
<h5>{{$.MempoolTxids.MempoolSize}} transactions in mempool</h5>
<div>
    <table class="table data-table table-hover">
        <thead>
            <tr>
                <th style="width: 70%;">Transaction</th>
                <th style="width: 30%;">Time of appearance</th>
            </tr>
        </thead>
        <tbody>
            {{- range $tx := $txs -}}
            <tr>
                <td class="ellipsis"><a href="/tx/{{$tx.Txid}}">{{$tx.Txid}}</a></td>
                <td>{{formatUnixTime $tx.Time}}</td>
            </tr>
            {{- end -}}
        </tbody>
    </table>
</div>
<nav>{{template "paging" $data }}</nav>
{{end}}